* {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 0;*/
  outline: 0;
  }
  
.wrapper {
  width: 1044px;
  font-size: 0;
  margin: 0 auto;
  }

.wrapper div{
  font-size: 12px;
  position: relative;
}

.avatar{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  background: url('avatar.png') no-repeat center;
}

.avatar img{
  display: block;
}

.avatar:after{
  content: '';
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.avatar.one:after{
  content: '1';
}
.avatar.two:after{
  content: '2';
}
.avatar.three:after{
  content: '3';
}
.avatar.four:after{
  content: '4';
}
.avatar.five:after{
  content: '5';
}
.avatar.six:after{
  content: '6';
}
.avatar.seven:after{
  content: '7';
}
.avatar.eight:after{
  content: '8';
}
.avatar.nine:after{
  content: '9';
}
.avatar.ten:after{
  content: '10';
}
